html, body {
  margin: 20px;
}

#vl-main {
  margin-top: 60px;
}

.suggestion-item {
  margin: 10px 0px 0px 0px;
  padding: 10px 10px 35px 10px;
  border-style: solid none solid none;
  border-width: 1px;
  border-color: #eee;
}

.vote-box {
  margin: 0px 10px 0px 0px;
  padding: 10px 15px 5px 15px;
  width: 80px;
  height: 80px;
  border-style: solid solid solid solid;
  border-width: 1px;
  border-color: #eee;
  float: left;
}

.vote-text {
  font-weight: bold;
  font-size: 30px;
  color: #005A7E
}

.notes {
  margin-top: 50px;
  background-color: #eee;
}