html, body {
  margin: 20px;
}

#vl-main {
  margin-top: 60px;
}

/*.btn-info {
  background-color: #73ACBD;
  border-color: #3B97B3;
}

.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
  background-color: #3AB0D3;
  border-color: #3B97B3;
}*/

.suggestion-item {
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 30px 0px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #eee;
}

.suggestion-item a {
  color: #2E4D61;
}

.vote-count {
  font-size: 27px;
  padding-bottom: 10px;
}

.notes {
  margin-top: 30px;
}

.note {
  font-size: 11px;
  padding-bottom: 7px;
  padding-left: 5px;
}

.add-note {
  margin-top: 15px;
}
