html, body {
  margin: 20px;
}

#vl-main {
  margin-top: 60px;
}

.suggestion-item {
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 30px 0px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #eee;
}

.suggestion-item a {
  color: #2E4D61;
}

.vote-count {
  color: #686671;
}

.voted {

  -webkit-animation: test 1s;
  color: rgb(51, 51, 51);

}

@-webkit-keyframes test {

  50% { font-size: 43px; }

}

.notes {
  margin-top: 50px;
  padding-left: 5px;
}

.note {
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.add-note {
  margin-top: 15px;
}

.suggestion-admin {
  background-color: #323232;
}

.vote-circle-box {

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 57px;
  height: 57px;

  border-radius: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(51, 51, 51);

}

.vote-circle {

  position: relative;
  width: 15px;
  height: 15px;
  top: 18px;
  left: 18px;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  opacity: 1;
  text-align: center;
  background-color: rgb(51, 51, 51);
  color: white;
  border-radius: 100%;
  padding: 0px;
  overflow: hidden;

}

.vote-circle-active {

  top: 0px;
  left: 0px;
  width: 51px;
  height: 51px;
  background-color: rgb(255, 100, 0);
  opacity: 0;
  -webkit-transition-duration: 1.0s;

}

#title-bar {
  border-bottom: solid;
  border-width: 1px;
  border-color: #eee;
  padding-bottom: 10px;
}

#quick-bar {
  margin-top: 20px;
  margin-bottom: 10px;
}